* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.login {
    width: 348px;
    height: 350px;
    padding: 10px 0;
    border: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 3px;
}

.login .logo-img {
    margin: 22px 71px;
}

form {
    display: flex;
    flex-direction: column;
}

form #name {
    width: 268px;
    height: 38px;
    margin: 5px 40px;
    border: 1px solid #000;
    border-radius: 5px;
}

form .senha {
    display: flex;
    width: 268px;
    height: 38px;
    margin: 5px 40px;
    border: 1px solid #000;
    border-radius: 3px;
}

form .senha input {
    width: 70%;
    height: 100%;
    border: none;
}

form .senha .btn-show {
    width: 30%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .senha .btn-show button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    pointer-events: painted;
}